In [1]:
import os
from six.moves import urllib

In [2]:
os.getcwd()

'd:\\ML Projects\\Credit-Card-Default-Prediction\\Notebook'

In [3]:
os.chdir("d:\\ML Projects\\Credit-Card-Default-Prediction")

In [4]:
from default_prediction.config.configuration import Configuration

In [5]:
config = Configuration()

In [6]:
data_ingestion_config = config.get_data_ingestion_config()

In [7]:
dataset_download_url = data_ingestion_config.data_download_url

In [8]:
raw_data_dir = data_ingestion_config.raw_data_dir

In [9]:
dataset_download_url

'https://raw.githubusercontent.com/sumit9708/credit_card_dataset/main/cs-training.csv'

In [10]:
raw_data_dir

'd:\\ML Projects\\Credit-Card-Default-Prediction\\default_prediction\\artifact\\data_ingestion\\2022-07-29-20-08-35\\raw_data'

In [11]:
import pandas as pd

In [12]:
training_pipeline_config = config.get_training_pipeline_config()

In [13]:
artifact_dir = training_pipeline_config.artifact_dir

In [14]:
csv_download_dir = data_ingestion_config.csv_download_dir

In [15]:
csv_download_dir

'd:\\ML Projects\\Credit-Card-Default-Prediction\\default_prediction\\artifact\\data_ingestion\\2022-07-29-20-08-35\\csv_data'

In [16]:
from default_prediction.logger import logging

In [17]:
import pandas as pd

In [18]:
raw_data_dir

'd:\\ML Projects\\Credit-Card-Default-Prediction\\default_prediction\\artifact\\data_ingestion\\2022-07-29-20-08-35\\raw_data'

In [19]:
from default_prediction.constant import *

In [20]:
train_file_path = data_ingestion_config.ingested_train_dir

In [21]:
csv_download_dir= data_ingestion_config.csv_download_dir

In [22]:
if os.path.exists(csv_download_dir):
    os.remove(csv_download_dir)

os.makedirs(csv_download_dir,exist_ok=True)

In [23]:
default_prediction_file_name = os.path.basename(dataset_download_url)

In [24]:
csv_file_path = os.path.join(csv_download_dir,default_prediction_file_name)

In [25]:
urllib.request.urlretrieve(dataset_download_url,csv_file_path)

('d:\\ML Projects\\Credit-Card-Default-Prediction\\default_prediction\\artifact\\data_ingestion\\2022-07-29-20-08-35\\csv_data\\cs-training.csv',
 <http.client.HTTPMessage at 0x25160b4e550>)

In [26]:
df = pd.read_csv(csv_file_path)

In [27]:
df.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [28]:
raw_data_dir = data_ingestion_config.raw_data_dir

In [29]:
raw_data_dir

'd:\\ML Projects\\Credit-Card-Default-Prediction\\default_prediction\\artifact\\data_ingestion\\2022-07-29-20-08-35\\raw_data'

In [30]:
if os.path.exists(raw_data_dir):
    os.remove(raw_data_dir)
os.makedirs(raw_data_dir,exist_ok=True)

In [31]:
import shutil

In [32]:
shutil.copy(csv_file_path,raw_data_dir)

'd:\\ML Projects\\Credit-Card-Default-Prediction\\default_prediction\\artifact\\data_ingestion\\2022-07-29-20-08-35\\raw_data\\cs-training.csv'

In [90]:
os.listdir[]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [33]:
max(df["MonthlyIncome"])

3008750.0

In [34]:
df["MonthlyIncome"].isna().sum()

29731

In [35]:
df["SeriousDlqin2yrs"].unique()

array([1, 0], dtype=int64)

In [36]:
df.rename(columns = {'Unnamed: 0' : 'CustomerID'},inplace=True)

In [37]:
df.dtypes

CustomerID                                int64
SeriousDlqin2yrs                          int64
RevolvingUtilizationOfUnsecuredLines    float64
age                                       int64
NumberOfTime30-59DaysPastDueNotWorse      int64
DebtRatio                               float64
MonthlyIncome                           float64
NumberOfOpenCreditLinesAndLoans           int64
NumberOfTimes90DaysLate                   int64
NumberRealEstateLoansOrLines              int64
NumberOfTime60-89DaysPastDueNotWorse      int64
NumberOfDependents                      float64
dtype: object

In [38]:
from sklearn.impute import SimpleImputer

In [39]:
from default_prediction.util.util import read_yaml_file

In [40]:
from default_prediction.constant import *

In [41]:
schema_file_path = os.path.join(ROOT_DIR,CONFIG_DIR,SCHEMA_FILE_NAME)

In [42]:
schema = read_yaml_file(file_path=schema_file_path)

In [43]:
schema

{'columns': {'CustomerID': 'int',
  'SeriousDlqin2yrs': 'int',
  'RevolvingUtilizationOfUnsecuredLines': 'float',
  'age': 'int',
  'NumberOfTime30-59DaysPastDueNotWorse': 'int',
  'DebtRatio': 'float',
  'MonthlyIncome': 'float',
  'NumberOfOpenCreditLinesAndLoans': 'int',
  'NumberOfTimes90DaysLate': 'int',
  'NumberRealEstateLoansOrLines': 'int',
  'NumberOfTime60-89DaysPastDueNotWorse': 'int',
  'NumberOfDependents': 'float'},
 'numerical_columns': ['CustomerID',
  'RevolvingUtilizationOfUnsecuredLines',
  'age',
  'NumberOfTime30-59DaysPastDueNotWorse',
  'DebtRatio',
  'MonthlyIncome',
  'NumberOfOpenCreditLinesAndLoans',
  'NumberOfTimes90DaysLate',
  'NumberRealEstateLoansOrLines',
  'NumberOfTime60-89DaysPastDueNotWorse',
  'NumberOfDependents'],
 'target_column': 'SeriousDlqin2yrs'}

In [44]:
schema.keys()

dict_keys(['columns', 'numerical_columns', 'target_column'])

In [45]:
columns = schema[COLUMNS_KEY]

In [46]:
columns

{'CustomerID': 'int',
 'SeriousDlqin2yrs': 'int',
 'RevolvingUtilizationOfUnsecuredLines': 'float',
 'age': 'int',
 'NumberOfTime30-59DaysPastDueNotWorse': 'int',
 'DebtRatio': 'float',
 'MonthlyIncome': 'float',
 'NumberOfOpenCreditLinesAndLoans': 'int',
 'NumberOfTimes90DaysLate': 'int',
 'NumberRealEstateLoansOrLines': 'int',
 'NumberOfTime60-89DaysPastDueNotWorse': 'int',
 'NumberOfDependents': 'float'}

In [47]:
columns.keys()

dict_keys(['CustomerID', 'SeriousDlqin2yrs', 'RevolvingUtilizationOfUnsecuredLines', 'age', 'NumberOfTime30-59DaysPastDueNotWorse', 'DebtRatio', 'MonthlyIncome', 'NumberOfOpenCreditLinesAndLoans', 'NumberOfTimes90DaysLate', 'NumberRealEstateLoansOrLines', 'NumberOfTime60-89DaysPastDueNotWorse', 'NumberOfDependents'])

In [48]:
columns.values()

dict_values(['int', 'int', 'float', 'int', 'int', 'float', 'float', 'int', 'int', 'int', 'int', 'float'])

In [49]:
#data = r"D:\ML Projects\Credit-Card-Default-Prediction\default_prediction\artifact\data_ingestion\2022-07-28-00-07-35\raw_data\credit_card_dataset-main\cs-training.csv"

In [50]:
df

,CustomerID,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
149995,149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149996,149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
149997,149998,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0
149998,149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
149999,150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

In [51]:
from default_prediction.util.util import read_training_file

In [52]:
main_file = r"D:\ML Projects\Credit-Card-Default-Prediction\main_file"

In [53]:
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer

In [54]:
from default_prediction.logger import logging

In [55]:
numerical_columns = schema[NUMERICAL_COLUMN_KEY]

In [56]:
num_pipeline = Pipeline(steps=[
                ('imputer', SimpleImputer(strategy="mean")),
                ('scaler', StandardScaler())
            ]
            )
logging.info(f"Numerical columns: {numerical_columns}")

preprocessing = ColumnTransformer([
                ('num_pipeline', num_pipeline,columns),
            ])

In [57]:
df_new = df.drop(columns="SeriousDlqin2yrs",axis = 1)

In [58]:
target = df["SeriousDlqin2yrs"]

In [59]:
target

0         1
1         0
2         0
3         0
4         0
         ..
149995    0
149996    0
149997    0
149998    0
149999    0
Name: SeriousDlqin2yrs, Length: 150000, dtype: int64

In [60]:
simple_imputer = SimpleImputer(strategy="mean")

In [61]:
X = simple_imputer.fit_transform(df_new)

In [62]:
new_df_arr = simple_imputer.fit_transform(df_new)

In [63]:
new_df_arr

array([[1.00000000e+00, 7.66126609e-01, 4.50000000e+01, ...,
        6.00000000e+00, 0.00000000e+00, 2.00000000e+00],
       [2.00000000e+00, 9.57151019e-01, 4.00000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [3.00000000e+00, 6.58180140e-01, 3.80000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [1.49998000e+05, 2.46043918e-01, 5.80000000e+01, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.49999000e+05, 0.00000000e+00, 3.00000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.50000000e+05, 8.50282951e-01, 6.40000000e+01, ...,
        2.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [64]:
standar_scaler = StandardScaler()

In [65]:
scaled_df = standar_scaler.fit_transform(new_df_arr)

In [66]:
scaled_df

array([[-1.73203926, -0.02115001, -0.49385982, ...,  4.40954554,
        -0.05785249,  1.12938692],
       [-1.73201617, -0.02038516, -0.83234222, ..., -0.90128301,
        -0.05785249,  0.22062674],
       [-1.73199307, -0.02158222, -0.96773518, ..., -0.90128301,
        -0.05785249, -0.68813345],
       ...,
       [ 1.73199307, -0.02323239,  0.38619443, ..., -0.01614492,
        -0.05785249, -0.68813345],
       [ 1.73201617, -0.02421753, -1.50930703, ..., -0.90128301,
        -0.05785249, -0.68813345],
       [ 1.73203926, -0.02081306,  0.79237332, ...,  0.86899317,
        -0.05785249, -0.68813345]])

In [67]:
preprocessed_dataset_dir = data_ingestion_config.preprocessed_dataset_path

In [68]:
preprocessed_dataset_dir

'd:\\ML Projects\\Credit-Card-Default-Prediction\\default_prediction\\artifact\\data_ingestion\\2022-07-29-20-08-35\\preprocessed_data'

In [69]:
import numpy as np

In [70]:
np.save(preprocessed_dataset_dir,scaled_df)

In [71]:
preprocessed_dataset_path = os.path.join(preprocessed_dataset_dir,preprocessed_dataset_dir+".npy")

In [72]:
preprocessed_dataset_path

'd:\\ML Projects\\Credit-Card-Default-Prediction\\default_prediction\\artifact\\data_ingestion\\2022-07-29-20-08-35\\preprocessed_data.npy'

In [73]:
def load_numpy_array_data(file_path: str) -> np.array:
    """
    load numpy array data from file
    file_path: str location of file to load
    return: np.array data loaded
    """
    try:
        with open(file_path, 'rb') as file_obj:
            return np.load(file_obj)
    except Exception as e:
        raise e

In [74]:
numpy_array_data = load_numpy_array_data(file_path=preprocessed_dataset_path)

In [75]:
numpy_array_data

array([[-1.73203926, -0.02115001, -0.49385982, ...,  4.40954554,
        -0.05785249,  1.12938692],
       [-1.73201617, -0.02038516, -0.83234222, ..., -0.90128301,
        -0.05785249,  0.22062674],
       [-1.73199307, -0.02158222, -0.96773518, ..., -0.90128301,
        -0.05785249, -0.68813345],
       ...,
       [ 1.73199307, -0.02323239,  0.38619443, ..., -0.01614492,
        -0.05785249, -0.68813345],
       [ 1.73201617, -0.02421753, -1.50930703, ..., -0.90128301,
        -0.05785249, -0.68813345],
       [ 1.73203926, -0.02081306,  0.79237332, ...,  0.86899317,
        -0.05785249, -0.68813345]])

In [76]:
new_df = pd.DataFrame(numpy_array_data)

In [77]:
new_df

,0,1,2,3,4,5,6,7,8,9,10
0,-1.732039,-0.021150,-0.493860,0.376593,-0.172833,1.901943e-01,0.883657,-0.063793,4.409546,-0.057852,1.129387
1,-1.732016,-0.020385,-0.832342,-0.100419,-0.173168,-3.160011e-01,-0.865297,-0.063793,-0.901283,-0.057852,0.220627
2,-1.731993,-0.021582,-0.967735,0.138087,-0.173186,-2.816854e-01,-1.253953,0.176056,-0.901283,-0.057852,-0.688133
3,-1.731970,-0.023281,-1.509307,-0.100419,-0.173210,-2.616550e-01,-0.670969,-0.063793,-0.901283,-0.057852,-0.688133
4,-1.731947,-0.020585,-0.223074,0.138087,-0.173215,4.418944e+00,-0.282312,-0.063793,-0.016145,-0.057852,-0.688133
...,...,...,...,...,...,...,...,...,...,...,...
149995,1.731947,-0.024055,1.469338,-0.100419,-0.173117,-3.548197e-01,-0.865297,-0.063793,-0.016145,-0.057852,-0.688133
149996,1.731970,-0.023017,-0.561556,-0.100419,-0.172876,-8.433131e-02,-0.865297,-0.063793,-0.016145,-0.057852,1.129387
149997,1.731993,-0.023232,0.386194,-0.100419,1.725868,-2.118322e-16,1.855298,-0.063793,-0.016145,-0.057852,-0.688133
149998,1.732016,-0.024218,-1.509307,-0.100419,-0.173228,-7.408318e-02,-0.865297,-0.063793,-0.901283,-0.057852,-0.688133
149999,1.732039,-0.020813,0.792373,-0.100419,-0.173105,1.155072e-01,-0.087984,-0.063793,0.868993,-0.057852,-0.688133

In [78]:
target

0         1
1         0
2         0
3         0
4         0
         ..
149995    0
149996    0
149997    0
149998    0
149999    0
Name: SeriousDlqin2yrs, Length: 150000, dtype: int64

In [79]:
dataset = pd.concat([new_df,target],axis=1)

In [80]:
dataset

,0,1,2,3,4,5,6,7,8,9,10,SeriousDlqin2yrs
0,-1.732039,-0.021150,-0.493860,0.376593,-0.172833,1.901943e-01,0.883657,-0.063793,4.409546,-0.057852,1.129387,1
1,-1.732016,-0.020385,-0.832342,-0.100419,-0.173168,-3.160011e-01,-0.865297,-0.063793,-0.901283,-0.057852,0.220627,0
2,-1.731993,-0.021582,-0.967735,0.138087,-0.173186,-2.816854e-01,-1.253953,0.176056,-0.901283,-0.057852,-0.688133,0
3,-1.731970,-0.023281,-1.509307,-0.100419,-0.173210,-2.616550e-01,-0.670969,-0.063793,-0.901283,-0.057852,-0.688133,0
4,-1.731947,-0.020585,-0.223074,0.138087,-0.173215,4.418944e+00,-0.282312,-0.063793,-0.016145,-0.057852,-0.688133,0
...,...,...,...,...,...,...,...,...,...,...,...,...
149995,1.731947,-0.024055,1.469338,-0.100419,-0.173117,-3.548197e-01,-0.865297,-0.063793,-0.016145,-0.057852,-0.688133,0
149996,1.731970,-0.023017,-0.561556,-0.100419,-0.172876,-8.433131e-02,-0.865297,-0.063793,-0.016145,-0.057852,1.129387,0
149997,1.731993,-0.023232,0.386194,-0.100419,1.725868,-2.118322e-16,1.855298,-0.063793,-0.016145,-0.057852,-0.688133,0
149998,1.732016,-0.024218,-1.509307,-0.100419,-0.173228,-7.408318e-02,-0.865297,-0.063793,-0.901283,-0.057852,-0.688133,0
149999,1.732039,-0.020813,0.792373,-0.100419,-0.173105,1.155072e-01,-0.087984,-0.063793,0.868993,-0.057852,-0.688133,0

In [81]:
column = ['CustomerID', 'RevolvingUtilizationOfUnsecuredLines', 'age', 'NumberOfTime30-59DaysPastDueNotWorse', 'DebtRatio', 'MonthlyIncome', 'NumberOfOpenCreditLinesAndLoans', 'NumberOfTimes90DaysLate', 'NumberRealEstateLoansOrLines', 'NumberOfTime60-89DaysPastDueNotWorse', 'NumberOfDependents','SeriousDlqin2yrs']

In [82]:
dataset.columns = column

In [83]:
dataset

,CustomerID,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,SeriousDlqin2yrs
0,-1.732039,-0.021150,-0.493860,0.376593,-0.172833,1.901943e-01,0.883657,-0.063793,4.409546,-0.057852,1.129387,1
1,-1.732016,-0.020385,-0.832342,-0.100419,-0.173168,-3.160011e-01,-0.865297,-0.063793,-0.901283,-0.057852,0.220627,0
2,-1.731993,-0.021582,-0.967735,0.138087,-0.173186,-2.816854e-01,-1.253953,0.176056,-0.901283,-0.057852,-0.688133,0
3,-1.731970,-0.023281,-1.509307,-0.100419,-0.173210,-2.616550e-01,-0.670969,-0.063793,-0.901283,-0.057852,-0.688133,0
4,-1.731947,-0.020585,-0.223074,0.138087,-0.173215,4.418944e+00,-0.282312,-0.063793,-0.016145,-0.057852,-0.688133,0
...,...,...,...,...,...,...,...,...,...,...,...,...
149995,1.731947,-0.024055,1.469338,-0.100419,-0.173117,-3.548197e-01,-0.865297,-0.063793,-0.016145,-0.057852,-0.688133,0
149996,1.731970,-0.023017,-0.561556,-0.100419,-0.172876,-8.433131e-02,-0.865297,-0.063793,-0.016145,-0.057852,1.129387,0
149997,1.731993,-0.023232,0.386194,-0.100419,1.725868,-2.118322e-16,1.855298,-0.063793,-0.016145,-0.057852,-0.688133,0
149998,1.732016,-0.024218,-1.509307,-0.100419,-0.173228,-7.408318e-02,-0.865297,-0.063793,-0.901283,-0.057852,-0.688133,0
149999,1.732039,-0.020813,0.792373,-0.100419,-0.173105,1.155072e-01,-0.087984,-0.063793,0.868993,-0.057852,-0.688133,0

In [84]:
dataset.isna().sum()

CustomerID                              0
RevolvingUtilizationOfUnsecuredLines    0
age                                     0
NumberOfTime30-59DaysPastDueNotWorse    0
DebtRatio                               0
MonthlyIncome                           0
NumberOfOpenCreditLinesAndLoans         0
NumberOfTimes90DaysLate                 0
NumberRealEstateLoansOrLines            0
NumberOfTime60-89DaysPastDueNotWorse    0
NumberOfDependents                      0
SeriousDlqin2yrs                        0
dtype: int64

In [85]:
max(dataset["MonthlyIncome"])

233.07343880499104

In [86]:
data_ingestion_config.ingested_train_dir

'd:\\ML Projects\\Credit-Card-Default-Prediction\\default_prediction\\artifact\\data_ingestion\\2022-07-29-20-08-35\\ingested_data\\train'

In [87]:
train_file_path = os.path.join(data_ingestion_config.ingested_train_dir+file_path)

NameError: name 'file_path' is not defined

In [ ]:
train_file_path

In [ ]:
dataset_download_url

In [ ]:
csv_file_path

In [ ]:
os.listdir()

In [ ]:
from default_prediction.constant import *

In [ ]:
config.config_info

In [ ]:
os.listdir(ROOT_DIR)

In [ ]:
#os.listdir("default_prediction\\artifact\\data_ingestion\\2022-07-28-13-47-36\\raw_data\\credit_card_dataset-main")[0]

In [ ]:
artifact_dir

In [ ]:
dataset_import_path

In [ ]:
csv_file_path

In [ ]:
file_name_one = os.listdir(raw_data_dir)[0]

In [ ]:
file_name_one

In [ ]:
os.listdir(raw_data_dir)

In [ ]:
### How to access file inside a file in any path

In [ ]:
raw_data_path ="https://raw.githubusercontent.com/sumit9708/credit_card_dataset/main/cs-training.csv"

In [ ]:
raw_dataframe = pd.read_csv(raw_data_path)

In [ ]:
dataset="D:\ML Projects\Credit-Card-Default-Prediction\dataset"

In [ ]:
csv_file_path

In [ ]:
raw_dataframe.to_csv("dataset/df.csv",index = False)

In [ ]:
raw_data_dir

In [ ]:
os.chdir(raw_data_dir)

In [ ]:
os.getcwd()

In [ ]:
df = pd.read_csv(raw_data_path)

In [ ]:
raw_data_dir

In [ ]:
os.getcwd()

In [ ]:
#https://raw.githubusercontent.com/sumit9708/credit_card_dataset/main/cs-training.csv

In [ ]:
#https://raw.githubusercontent.com/satyazmx/dataset/main/hours.csv

In [ ]:
download_url = data_ingestion_config.data_download_url

In [ ]:
download_url

In [ ]:
csv_download_dir= data_ingestion_config.csv_download_dir

In [ ]:
csv_download_dir

In [ ]:
housing_file_name = os.path.basename(download_url)

In [ ]:
housing_file_name

In [ ]:
csv_file_path = os.path.join(csv_download_dir,housing_file_name)

In [ ]:
csv_file_path

In [ ]:
os.getcwd()

In [ ]:
urllib.request.urlretrieve(download_url,csv_file_path)
logging.info(f"file: [{csv_file_path}] has been downloaded successfully.")

In [ ]:
urllib.request.urlretrieve(download_url,csv_file_path)
logging.info(f"file: [{csv_file_path}] has been downloaded successfully.")